## Diretórios de build e IDE
bin/
obj/
.vs/
.vscode/
.idea/

## Usuário
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml

## NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
.nuget/

## Logs e temporários
*.log
*.tmp
*.temp
*.cache
*.pid
*.dump
*.db

## Publicação
*.publishsettings
.publish/
*.zip
*.tar.gz

## Configurações locais e segredos
*.env
*.secret
*.local.json
secrets.json
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

## Certificados
*.pfx
*.key
*.cer

## Testes e cobertura
TestResults/
*.coverage
*.coveragexml
*.codecoverage

## Depuração
*.pdb
*.mdb

## Ferramentas JetBrains e extensões
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Rider
.idea/
*.sln.iml

## SonarQube
.sonar/

## StyleCop
StyleCopReport.xml

## Sistema operacional
Thumbs.db
ehthumbs.db
.DS_Store
Icon?
Desktop.ini
$RECYCLE.BIN/
